.list-input{
    width: 85%;
    height: 30px;
    margin: 10px 0;
    background-color: #d8d6e0;
    border: 4px solid #858094;
    font-size: 1em;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
}
.form-btn{
    width: 100px;
    height: 40px;
    border: 2px solid #6c5c80;
    color: #473d53;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #9c90ae;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}
.form-btn:hover {
    transition: 0.5s;
    background-color: #473d53;
    color: #aea9c8;
    border: #473d53;
}
.title{
    padding-top: 15px;

}
.title{
    text-align: left;
    margin-left: 45px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
}
.new-post{
    text-align: center;
    font-size: 3em;
}
.list-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    background-color: #aea9c8;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
    padding-bottom: 20px;
}