body{
    font-family: 'Nunito Sans', sans-serif;
}
.single-post{
    margin: 20px;
}
td{
    padding: 5px;
}
th{
    font-size: 1.5em;
}
.detail-button{
    width: 70px;
    height: 30px;
    border: 2px solid #6c5c80;
    color: #473d53;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #9c90ae;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}
.detail-button:hover, .add-new-btn:hover{
    transition: 0.5s;
    background-color: #473d53;
    color: #aea9c8;
    border: #473d53;
}
.add-new-btn{
    width: 90px;
    height: 35px;
    border: 2px solid #6c5c80;
    color: #473d53;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #9c90ae;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}
h1{
    font-size: 2em;
    display: inline-block;
}
.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}